
testing.py
testing2.py
parsetab.py
parser.out
__pycache__/testing.cpython-310.pyc
__pycache__/parsetab.cpython-310.pyc
__pycache__/mylexer.cpython-310.pyc
__pycache__/lexer.cpython-310.pyc
testing2.py
testing2.py
tst.py
antst.py
